{% extends "base.html" %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<div class="container my-5">

    <div  class="show-row">
        <h2 style="text-align :center; font-family: 'PT Serif', serif; font-weight: 400;font-style: normal;"> TABLE </h2>
           <form method="post" id="my-form" >
            {% csrf_token %}
            {{form}}
        </form>

    </div>
<div class="row justify-content-center my-5">
    <div class="col-auto" style="high:100%; width: 100%;">
    <table class="table table-hover table-bordered text-center" >

        <thead class="DIV">
            <tr>

                <th><img  id="Temperature-logo" src="{% static 'images/temp.png' %}" alt="Temperature Image" style="high:15%; width: 15%;"><br> Temperature </th>
                <th><img id="Humidity-logo" src="{% static 'images/hum.png' %}" alt="Humidity Image" style="high:15%; width: 15%;"><br> Humidity  </th>
                <th><img id="date-logo" src="{% static 'images/date.png' %}" alt="Humidity Image" style="high:15%; width: 15%;"><br> Date  </th>
            </tr>
        </thead>
        <tbody>

            <tr>

                <td style="text-align :center;">{{ valeurs.temp }} </td>
                <td style="text-align :center;">{{ valeurs.hum }}</td>
                <td style="text-align :center;">{{ valeurs.date }}</td>
            </tr>

        </tbody>
    </table>
    <div class="text-center">
        <button id='csv' type="button" class="btn btn-outline-primary">Télecharger csv</button>
    </div>
           </div>
        </div>
    </div>

      <script>

        var selectEl = $('#mon_select');

        selectEl.change(function() {
            $('#my-form').submit();
        });

        var downloadButton = document.getElementById('csv');
    downloadButton.addEventListener('click', function() {
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/download_csv/', true);
    xhr.responseType = 'blob';
    xhr.onload = function() {
    if (xhr.status === 200) {
      var url = window.URL.createObjectURL(xhr.response);
      var a = document.createElement('a');
      a.href = url;
      a.download = 'model_values.csv';
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
    }
    };
    xhr.send();
    });


    </script>
{% endblock content %}